.card-tiktak {
  box-shadow: 0 2px 20px gray;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.margin-top {
  margin-top: 50px !important;
}
